.die {
  font-size: 2.4rem;
  font-weight: 700;
  width: 8vw;
  height: 8vw;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  display: flex;
  justify-content: center;
  align-items: center;
}
