.die {
  font-size: 2.4rem;
  font-weight: 700;
  width: 5vw;
  height: 5vw;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transform: scale(1);
  animation-name: jiggle;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.die:hover {
  transform: scale(1.04);
}

.die:active {
  transform: scale(1);
}

@keyframes jiggle {
  from {
    transform: rotate(0);
  }
  20% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(0);
  }
}
